<footer>
<div class="media">
        <ul>
            <li class="social"><i class="fab fa-github"></i></li>
            <li class="social"><i class="fab fa-twitter"></i></li>
            <li class="social"><i class="fab fa-instagram"></i></li>
            <li class="social"><i class="fab fa-facebook"></i></li>
        </ul>
    </div>
</footer>
</div>
    </main>
</body>
</html>