<footer>
<div class="media">
        <ul>
        <a href="https://github.com/Drag49487Jr"<li class="social"><i class="fab fa-github"></i></li></a>
        <a href="https://twitter.com/?lang=en"<li class="social"><i class="fab fa-twitter"></i></li></a>
        <a href="https://www.instagram.com/"<li class="social"><i class="fab fa-instagram"></i></li></a>
        <a href="https://www.facebook.com/"<li class="social"><i class="fab fa-facebook"></i></li></a>
        </ul>
    </div>
</footer>
</div>
    </main>
</body>
</html>