* {
box-sizing:border-box;
}

h1{
  font-weight: lighter;
  font-size: 40px;
  color: black;
  text-align:center;
  padding: top 50px;
  margin-bottom: 0;
}
.mt {
  color: black;
  text-align:center;
  font-weight:lighter;
  font-size:20px;
  margin-top:0;
}
.media{
  position:absolute;
  top:40%;
  left:50%;
}

.social{
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  font-size:20px;
  padding:20px 20px;
  color:black;
  border:1px solid black;
  border-radius: 50%;
  transition: .5s;
}
.social:hover{
  color:red;
  border:1px solid red;
  transition:.5s;
}
div .front-picture{
  height:100%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0 auto;
  filter: blur(8px);
}
.front-page #about-link{
  position:absolute;
  top:40%;
  left:42%;
  text-decoration: none;
  font-weight:bold;
  font-size:40px;
  color:red;
  background-color:rgba(0,0,0,.4);
}
.front-page, #about-link, .log-link{
  border: 3px solid #f1f1f1;
}
.front-page .log-link{
  position:absolute;
  top:50%;
  left:36.5%;
  text-decoration:none;
  font-weight:bold;
  font-size:40px;
  color:red;
  background-color:rgba(0,0,0,.4);

}
.nav-bar, .link{
 font-size:16px;
 color:red;
 list-style: none;
 text-decoration: none;
}
nav {
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding: 30px 10%;
  background-color:black;
}
.logo{
  width:100px;
}
.link{
  display:inline-block;
  padding:0px 20px;
}
.link:hover {
  color:red;
  transition:5s;
}
#curl-side{
  height:100%;
  width:50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0 auto;
}
#smile{
  width:200px;
}
#info{
  list-style: none;
}
#tag{
  position: absolute;
  top:90%;
  left:40%;
}
#about-me-title{
  position:absolute;
  left:45%;
}
.about-me{
  position:absolute;
  top:50%;
}
.meal{
  position:absolute;
  right:60%;
}
.exercise{
  position:absolute;
left:50%;
}
