<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body id="about-background">
    <h1 id="about-me-title">About Me</h1>
    <p class="about-me">I am a young adult who strives to be the best they can possibly be.<br>
        Regardless of past struggles I still managed to keep on walking on.<br> I graduated from college in 2017 along with my highschool diploma
        was the<br> greatest achievement of my life however life never goes the way you plan it too.<br> The past two years is were I began to develop 
        a passion. A passion to be the best me.<br> At the time I weighed around 210lbs and wasn't happy with how I looked.<br> So 
        I decided to get a gym membership and after one year I went down to 175lbs.<br> That was a really great accomplishment and 
        from there I want to accomplish more things.<br> After 8 months had passed I stumbled upon an ad to become a software engineer through a company 
        called General Assembly.<br> I was pretty unsure at first however after meeting the instructors and the people involved in the program.<br> 
        I really don't want to go back to working a 'JOB' and actually discover what I can do in this world.<br> Whatever life has in stored just
        know I am taking the first step.
    </p>
    <img id="curl-side" src="/images/curl-side.jpg">
    <img id="smile" src="/images/smile-up.jpg">
</body>
</html>




