
<h1>About Me</h1>



<p>I am a young adult who strives to be the best they can possibly be. 
    Regardless of past struggles I still managed to keep on walking on. 
</p>
<img id = "curl-side" src = "/images/curl-side.jpg">
<img id = "smile" src = "/images/smile-up.jpg">

<%- include('../partials/footer') %>