<%- include('../partials/header') %>

<h1>Meal Plan and Exercise</h1>


<section class = "meal">
<input type = "text" name = "">
<input type = "text" name = "">
<button type = "submit">Add Meals</button>
</section>

<section class = "exercise">
<input type = "text" name = "">
<input type = "text" name = "">
<input type = "text" name = "">
<button type = "submit">Add Exercises</button>
</section>



<a id = "tag"href = "/athletes/create">Create Meal Plan and Exercise Routine</a>
