<%- include('../partials/header') %>

<p>Athlete Enters information</p>
<form id="new-form" action = "/athletes/profile" method = "POST">
    <label>
        <input type = "text" 
    </label>
<input type = "submit" value = "Create Regiment">
</form>

<%- include('../partials/footer') %>