<%- include('../partials/header') %>

<h1 id="new-title">Athlete Enters information</h1>
<form id="new-form" action="/athletes/home" method="POST">
    <label>Height:
        <input type="text" name="height"><br>
    </label>
    <label>Weight:
        <input type="text" name="weight"><br>
    </label>
    <label>Goals:
        <input type="text" name="description"><br>
    </label>
<input class="btn"type="submit" value="Create Regiment">
</form>

<%- include('../partials/footer') %>