<%- include('../partials/header') %>

<p>Athlete Enters information</p>
<form id="new-form" action = "/athletes/create" method = "POST">
    <label>First and Last
        <input type = "text" name = "name">
    </label>
    <label> Height
        <input type = "text" name = "height">
    </label>
    <label>Weight
        <input type = "text" name = "weight">
    </label>
<input type = "submit" value = "Create Regiment">
</form>

<%- include('../partials/footer') %>