<%- include('../partials/header') %>

<h1>Athlete Enters information</h1>
<form id="new-form" action="/athletes/home" method="POST">
    <label> Height
        <input type="text" name="height">
    </label>
    <label>Weight
        <input type="text" name="weight">
    </label>
    <label>Goals:
        <input type="text" name="description">
    </label>
<input type="submit" value="Create Regiment">
</form>

<%- include('../partials/footer') %>