<%- include('../partials/header')%>



<p>WHATS UP ATHLETE</p>



<a href = "/athletes/mealPlans">Meal Plans</a>
<a href = "/athletes/exerciseRoutines">Exercises</a>
<%- include('../partials/footer')%>